<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    {#<title>App - {% block titulo %}{% endblock %}</title>#}
    <link href="{{asset('assets/css/ie10-viewport-bug-workaround.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/starter-template.css')}}" rel="stylesheet">
    <script src="{{asset('assets/js/ie-emulation-modes-warning.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/app_dev.php/">TaskApp</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% block menu_usuario %}{% endblock %}><a href="{{ path('lista_usuario') }}">Usuarios</a></li>
                    <li {% block menu_ticket %}{% endblock %}><a href="{{ path('lista_ticket') }}">Tickets</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>

                    <ul style="float:right;" class="nav navbar-nav">
                        <li ><a href="{{ path("logout") }}">{% block logout %}{% endblock %}</a></li>
                    </u

            </div>
        </div>
    </nav>
    <div class=" container">
        <div class="starter-template">
            {%block body%} {%endblock%}
        </div>
    </div>
    <script src="{{asset('assets/js/jquery.min.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('assets/js/ie10-viewport-bug-workaround.js')}}"></script>
</body>

</html>