{% extends 'base.html.twig' %}
{%block titulo%}Ticket{%endblock%}
{%block logout %}Logout{%endblock%}
{% block menu_ticket %}class="active"{% endblock %}
{% block body %}
    <h1>Listas De Ticket</h1>
    {% if role == "Normal" %}
        <a type="button"   href="{{ path('agregar_ticket') }}" class="btn btn-primary btn-circle btn-lg" style="padding: 11px 11px 7px; border-radius: 20px; float: right; margin-bottom: 15px; ">
            <i class="fas fa-plus fa-lg"></i>
        </a>
    {% endif %}
    <table class="table table-striped">
    	<thead>
    		<th scope="col">#ID</th>
    		<th scope="col">Fecha Creada</th>
            <th scope="col">Fecha A Completar</th>
            <th scope="col">Estado</th>
            <th scope="col">Creado Por</th>
            <th scope="col">Asignado A</th>
    		<th scope="col">Acciones</th>
    	</thead>
    	<tbody>
    	{% for ticket in tickets %}
    		<tr>
    			<td>{{ ticket.id}}</td>
    			<td>{{ ticket.fechaCreada|date('Y-m-d')}}</td>
    			<td>{{ ticket.fechaCompletada|date('Y-m-d') }}</td>
                <td>{{ ticket.estado}}</td>
                <td>{{ ticket.usuario.nombre}}</td>
                <td>{{ ticket.usuarioAsignado.nombre}}</td>
    			<td>
    				<a href="{{ path('ver_ticket',{'id':ticket.id}) }}" class="btn btn-success">Ver</a>
                        {% if ticket.estado != "Listo" and role != "Normal" %}
                        <button onclick="eliminar('')" class = "btn btn-primary">Iniciar</button>
                    {% endif %}
    			</td>
    		<tr>
    	{% endfor %}
    	</tbody>
    </table>
    <script>
        function eliminar(id){
            $.ajax({
                url:'/app_dev.php/usuario/'+id,
                type:'DELETE',
                success: function(response){
                    window.location.href=window.location
                    // console.log(response);
                },
                error: function(err){
                    console.log(err);
                }
            })

        }

    </script>
{% endblock %}