{% extends 'base.html.twig' %}
{%block titulo%}Ticket{%endblock%}
{%block logout %}Logout{%endblock%}
{% block menu_ticket %}class="active"{% endblock %}
{% block body %}
    <div style="text-align: left;">
        <h1 style="display:inline-block;width: 45%;">Asignación #{{ ticket.id }}</h1>
        <span id="fechaCompletada">{{ ticket.fechaCompletada|date('Y-m-d H:i:s') }}</span>
        {% if ticket.estado != "Listo" and roles != "Normal" %}
            <span><button style="text-transform: uppercase;" class = "btn btn-primary" onclick="actualizarEstato()">Iniciar</button></span>
        {% endif %}
        <br>
        <span class="label {% if ticket.estado == "Listo" %} label-success {% else %} label-primary" {% endif %}id="estado">{{ ticket.estado}}</span>
    </div>
    <div style="width: 49%; display: inline-block; text-align: left; margin-top: 50px;">
        <label for="">Solicitado Por:</label>
        <span><strong >{{ ticket.usuario.nombre }}</strong></span><br>
        <label for="">Descripcion:</label>
        <span id="descripcion">{{ ticket.descripcion }}</span>
    </div>
    <form style="width: 49%; display: inline-block;">
        <div class="form-group">
            <h3 style="display:inline-block;width: 100px;">Notas</h3>
            <span><a href="{{ path('agregar_nota') }}" style ="padding-top: 0px;padding-bottom: 4px;"class = "btn btn-success">Agregar Notas</a></span>
            <table class="table table-striped">
                <thead>
                    <th scope="col">Usuario</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">Fecha</th>
                    {#<th scope="col">Accion</th>#}
                </thead>
                <tbody>
                {% for nota in notas %}
                <tr>
                    <td>
                     {% if nota.usuarioid.nombre != usuario %}
                        {{ nota.usuarioid.nombre }}
                    {% else %}
                        Yo
                    {% endif %}
                    </td>

                    <td>{{ nota.comentario }}</td>
                    <td>{{ nota.fecha|date('Y-m-d') }}</td>
                    {#<td>#}
                        {#<a href="{{ path('ver_ticket',{'id':ticket.id}) }}" class="btn btn-success">Ver</a>#}
                        {#{% if ticket.estado != "Listo" and role != "Normal" %}#}
                            {#<button onclick="eliminar('')" class = "btn btn-primary">Iniciar</button>#}
                        {#{% endif %}#}
                    {#</td>#}
                <tr>
                {% endfor %}
                </tbody>
            </table>
        <div>
    </form>
    <input type="hidden" id="id" value="{{ ticket.id }}">
    <input type="hidden" id="usuarioId" value="{{ ticket.usuario.id }}">
    <input type="hidden" id="usuarioAsignadoId" value="{{ ticket.usuarioAsignado.id }}">
    <input type="hidden" id="fechaCreada" value="{{ ticket.fechaCreada|date('Y-m-d H:i:s') }}">

    <script>
        function actualizarEstato(){
            var id = $('#id').val();
            var estado = $('#estado').text();
            var descripcion = $('#descripcion').text();
            var usuarioId = $('#usuarioId').val();
            var usuarioAsignadoId =$('#usuarioAsignadoId').val();
            var fechaCompletada = $('#fechaCompletada').text();
            var fechaCreada = $('#fechaCreada').val();

            if (estado == "Pendiente"){
                estado = "EN_PROCESO";
            }else if (estado == "EN_PROCESO"){
                estado = "Listo";
            }else if (estado == "Listo"){
                estado = "EN_PROCESO";
            }

            var data = {
                    estado: estado,
                    descripcion:descripcion,
                    usuario:usuarioId,
                    usuarioAsignado:usuarioAsignadoId,
                    fecha_Completada:fechaCompletada,
                    fecha_Creada:fechaCreada

            };
            $.ajax({
                url: Routing.generate('actualizar_ticket', {id: id}),
                type:'PUT',
                data:JSON.stringify(data),
                success: function(response){
                   //indow.location.href = Routing.generate('lista_usuario');
                    console.log(response);
                    $("#estado").text(response.estado);
                    if (response.estado == "Listo"){
                        $("#estado").attr("class","label label-success");
                    }
                },
                error: function(err){
                    console.log(err);
                }
            })

        }

    </script>
{% endblock %}